:root {
    --main-padding: 12%;
    --accent-color: #fff;
    --surface-color: #fff;
    --primary-blue-color: #404E82;
    --secundary-blue-color: #C4D2EB;
    --primary-orange-color: #D99C44;
    --secundary-orange-color: #EFF3FA;
}

#container > div:nth-child(7) {
    display: none;
}

h2 {
    padding: 4px 0 2px var(--main-padding);
}

input:nth-child(1) {
    border-radius: 6px;
    padding: 10px;
}

img:nth-child(1) {
    border-radius: 6px;
}