:root {
    --main-padding: 12%;
    --accent-color: #fff;
    --surface-color: #fff;
    --primary-blue-text-color: #336;
    --primary-blue-color: #404E82;
    --secundary-blue-color: #C4D2EB;
    --primary-orange-color: #D99C44;
    --secundary-orange-color: #EFF3FA;
}

/* Atenção desnecessária*/
#conteudo > div:nth-child(3) {
    display: none;
}

/* Portal da Avaliação*/
#container > div:nth-child(7) > a:nth-child(1) {
    display: none;
}

#conteudo > hr:nth-child(6) {
    display: none;
}

.logon h3 {
    background: none;
    background-color: var(--secundary-blue-color);
    display: none;
}

.logon table {
    border: 1px solid var(--secundary-blue-color);
}

#conteudo > div:nth-child(4) > table:nth-child(1) {
    display: none;
}

#conteudo > table {
    border: none !important;
}

#conteudo > table:nth-child(7) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(8) {
    display: none;
}

#conteudo > table:nth-child(7) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(12) {
    display: none;
}

#conteudo > table:nth-child(7) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(13){
    display: none;
}